---
layout: default
title: Blogs | Techverse
---

<!-- include header -->
{% include navbar.html %}

<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header-blogs py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Blogs</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-white" href="">Events</a></li> -->
                <li class="breadcrumb-item text-primary active" aria-current="page">Blogs</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<h1>Coming Soon</h1>

<!-- JS -->
<script type="module">
    import { backend_url, setLoading, offLoading } from './js/script.js';

    document.getElementById("nav-blogs").classList.add("active");

    window.onload = async () => {
        // await setEvent(); 
        offLoading();
    };

</script>

<!-- include footer -->
{% include footer.html %}