---
layout: default
title: Blogs | Techverse
---

<head>
    <style>
        .title_link {
            color: #0C2B4B;
        }
    </style>
</head>

<!-- include header -->
{% include navbar.html %}

<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header-blogs py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Blogs</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-white" href="">Events</a></li> -->
                <li class="breadcrumb-item text-primary active" aria-current="page">Blogs</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<main id="main">

    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="category-title">Our Blogs</h3>

                    <div class="m-3">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                              Sort By
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Date</a></li>
                              <li><a class="dropdown-item" href="#">Views</a></li>
                              <!-- <li><a class="dropdown-item" href="#"></a></li> -->
                            </ul>
                          </div>
                    </div>

                    <div class="">
                        <div class="post-meta">
                            <span class="date">Business</span> <span class="mx-1">&bullet;</span>
                            <span>Jul 5th '22</span><span class="mx-1">&bullet;</span>
                            <span>324</span> Views<span class="mx-1">&bullet;</span>
                            <span>212</span> Likes

                        </div>
                        <div class="post-meta">
                            Author
                            <span>Wade Warren</span>
                        </div>

                        <div class="d-md-flex post-entry-2 small-img">

                            <a href="single-post.html" class="me-4 thumbnail">
                                <img src="img/about-1.jpg" alt="" class="img-fluid">
                            </a>
                            <div class="">
                                <h3><a href="single-post.html" class="title_link">What is the son of Football Coach John
                                        Gruden, Deuce Gruden
                                        doing Now?</a></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat
                                    exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas.</p>

                                <a class="btn btn-primary py-2 px-3 m-2" href="#">View Blog</a>
                            </div>

                        </div>
                    </div>
                    <hr>



                    <!-- Paging -->
                    <div class="text-start py-4">
                        <div class="custom-pagination">
                            <a href="#" class="prev">Previous</a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#" class="next">Next</a>
                        </div>
                    </div><!-- End Paging -->

                </div>

                <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block">

                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-popular" type="button" role="tab"
                                    aria-controls="pills-popular" aria-selected="true">Featured</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest"
                                    aria-selected="false">Latest</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">

                            <!-- Popular -->
                            <div class="tab-pane fade show active" id="pills-popular" role="tabpanel"
                                aria-labelledby="pills-popular-tab">
                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span class="date">Sport</span> <span
                                            class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                    <h2 class="mb-2"><a href="#" class="title_link">How to Avoid Distraction and Stay
                                            Focused During Video
                                            Calls?</a></h2>
                                    <span class="author mb-3 d-block">Jenny Wilson</span>
                                </div>

                            </div> <!-- End Popular -->

                            <!-- Latest -->
                            <div class="tab-pane fade" id="pills-latest" role="tabpanel"
                                aria-labelledby="pills-latest-tab">
                                <div class="post-entry-1 border-bottom">
                                    <div class="post-meta"><span class="date">Lifestyle</span> <span
                                            class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                    <h2 class="mb-2"><a href="#" class="title_link">Life Insurance And Pregnancy: A
                                            Working Mom’s Guide</a>
                                    </h2>
                                    <span class="author mb-3 d-block">Jenny Wilson</span>
                                </div>

                            </div> <!-- End Latest -->

                        </div>
                    </div>



                    <div class="aside-block">
                        <h3 class="aside-title">Domains</h3>
                        <ul class="aside-tags list-unstyled">
                            <li><a href="category.html">AI/ML</a></li>
                            <li><a href="category.html">Devops</a></li>
                            <li><a href="category.html">Web Dev</a></li>
                            <li><a href="category.html">App Dev</a></li>
                            <li><a href="category.html">Web 3</a></li>
                            <li><a href="category.html">DSA</a></li>
                            <li><a href="category.html">Programming Skills</a></li>
                            <li><a href="category.html">Others</a></li>
                        </ul>
                    </div><!-- End Tags -->

                </div>

            </div>
        </div>
    </section> <!-- End Search Result -->

</main><!-- End #main -->


<!-- JS -->
<script type="module">
    import { backend_url, setLoading, offLoading } from './js/script.js';

    document.getElementById("nav-blogs").classList.add("active");

    window.onload = async () => {
        // await setEvent(); 
        offLoading();
    };

    var searchParams = new URLSearchParams(window.location.search);
    var domain = searchParams.get('domain');
    


</script>

<!-- include footer -->
{% include footer.html %}