
    <!-- Footer Start   -->
    <div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Get In Touch</h4>
                    <h2 class="text-primary mb-4"> <img src="https://i.postimg.cc/3wqwThL6/1699183406946.png" alt="TechVerse" class="w-100"> </h2>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>CMR University, Bengaluru</p>
                    <!-- <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a href="tel:+"></a></p> -->
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i><a class=""
                            href="mailto:techverse.mescoe@gmail.com">techverse.mescoe@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Page Links</h4>
                    <a class="btn btn-link" href="/">Home</a>
                    <a class="btn btn-link" href="/team.html">Our Team</a>
                    <a class="btn btn-link" href="/events.html">Events</a>
                    <a class="btn btn-link" href="/blogs.html">Blogs</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Popular Links</h4>
                    <a class="btn btn-link" href="/forms/become-club-member.html">Become Club Member</a>
                    <a class="btn btn-link" href="/forms/contact.html#contactForm">Contact Us</a>
                    <a class="btn btn-link" href="/forms/contact.html#suggestion">Give Us Suggestion</a>
                    <a class="btn btn-link" href="/forms/testimonial.html#testimonialForm">Submit A Testimonial</a>
                    <a class="btn btn-link" href="https://thetechverse.pythonanywhere.com/">Admin Panel</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- <h4 class="text-light mb-4">Newsletter</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form> -->
                    <h4 class="text-white mb-4">Follow Us</h4>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light me-1"
                            href="https://www.linkedin.com/company/techverse-meswcoe/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-outline-light me-1"
                            href="https://www.instagram.com/techverse_meswcoe/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a class="btn btn-square btn-outline-light me-1" href="https://twitter.com/TechVerseMESCOE/" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light me-1" href="https://github.com/techverse-meswcoe/" target="_blank"><i
                                class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="d-flex pt-4">
                        <a class="p-2" style="font-size: large;border: 1px solid;"
                            href="https://chat.whatsapp.com/K3o9i4A8dEYB9qLrFKgdb4/" target="_blank">
                            <i class="fa-brands fa-whatsapp " style="color: #25d366;"></i>
                            Join Whatsapp Group
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">TechVerse MESWCOE, Pune</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Developed By <a href="/team.html">TechVerse Team</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
