---
layout: default
title: Event Details | Techverse
---

<!-- include header -->
{% include navbar.html %}

<link rel="stylesheet" href="/css/ckstyle.css">
<script src="/js/bundle.js"></script>
<!-- content  -->
<!-- Page Header Start -->
<div class="container-fluid page-header-events py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Events</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/events.html">Events</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Event Details</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Features Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4">Event Details</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 id="event_domain" class="text-primary text-uppercase mb-2">Event Domain</h6>
                <h1 id="event_title" class="display-6 mb-4">Loading Event Title
                </h1>
                <p id="event_desc" class="mb-5">Loading Description</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-calendar-times text-white"></i>
                            </div>
                            <h5 class="mb-0">Date And Time</h5>
                        </div>
                        <span id="event_datetime">6th Oct 2023, 2:30 PM</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-location-arrow text-white"></i>
                            </div>
                            <h5 class="mb-0">Venue</h5>
                        </div>
                        <span id="event_venue">Room No 514, MESWCOE</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-eye-dropper text-white"></i>
                            </div>
                            <h5 class="mb-0">Total Seats</h5>
                        </div>
                        <span id="event_reg_limit">100</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-arrow-up text-white"></i>
                            </div>
                            <h5 class="mb-0">Number Of Registrations</h5>
                        </div>
                        <span id="event_reg_count">78</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                    <img id="event_poster" class="position-absolute w-100 h-100" src="/img/about-1.jpg" alt=""
                        style="object-fit: cover;">
                    <!-- <img class="position-absolute top-0 end-0 bg-white rounded ps-3 pb-3" src="img/logo.svg" alt="" style="width: 100px; height: 100px"> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Form Start -->
<div class="container-xxl courses my-6 p-1">
    <div class="container">
        <div class="row g-4 justify-content-center">

            <div class="col-lg-8 my-6 wow fadeInUp" data-wow-delay="0.1s">
                <div id="form_container" class="bg-primary text-center p-5">
                    <h1 class="mb-4">Register Now</h1>
                    <form id="event_reg_form" method="post">
                        <input type="text" id="event_id" name="event" placeholder="event" value="1" hidden required>

                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" name="name" class="form-control border-0" id="name"
                                        placeholder="Your Name" required>
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control border-0" id="email"
                                        placeholder="email@example.com" required>
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <!-- <input type="text"id="cname"
                                            placeholder="Child Name"> -->

                                    <select id="year" name="year" class="form-select border-0" required
                                        style="padding-top: auto;">
                                        <option value="" disabled selected hidden>Select Year</option>
                                        <option value="FE">FE</option>
                                        <option value="SE">SE</option>
                                        <option value="TE">TE</option>
                                        <option value="BE">BE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <select id="dept" name="dept" class="form-select border-0" required
                                        style="padding-top: auto;">
                                        <option value="" disabled selected hidden>Select Department</option>
                                        <option value="Computer">Computer Dept</option>
                                        <option value="Electronics & Telecommunication">Electronics &
                                            Telecommunication Dept</option>
                                        <option value="Mechanical">Mechanical Dept</option>
                                        <option value="Automation & Robotics">Automation & Robotics Dept</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <!-- <input type="text"id="cname"
                                            placeholder="Child Name"> -->

                                    <select id="division" name="division" class="form-select border-0" required
                                        style="padding-top: auto;">
                                        <option value="" disabled selected hidden>Select Division</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" name="prn" class="form-control border-0" id="prn"
                                        placeholder="F1234567" required>
                                    <label for="prn">Your PRN</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" id="form_submit_btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    <h4 id="error_msg" class="p-2 text-white text-xxl-center"></h4>
                </div>
                <div id="form_success" style="display: none;" class="bg-primary text-center p-5">
                    <div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <i class="fa fa-check-circle display-1 text-success"></i>
                                    <h2 class="mb-1">Registration Successful</h2>
                                    <h2 class="mb-4">Your Entry Code is "<span id="entry_code"></span>"</h2>
                                    <p class="mb-4 text-white">Thank you for registering for our event. You will receive a
                                        registration email shortly. <strong>Please keep the Entry Code with you
                                            when you come to the event. </strong>The code will also be sent to
                                        you via email.</p>
                                    <a class="btn btn-primary py-3 px-5" href="/events.html">Go Back To Events</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->



<!-- event details -->
<div class="container-xxl py-6 wow fadeInUp" data-wow-delay="0.1s"
    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;overflow: hidden;">
    <div class="container ">
        <div id="event_details" class="ck ck-content"></div>
    </div>
</div>


<!-- event details end -->


<!-- JS -->
<script type="module">
    import { backend_url, setLoading, offLoading } from '/js/script.js';

    function handleNoEvent() {
        console.log("No Active Events Found");
        // redirect to no-active-event.html
        window.location.replace("/events/no-event-found.html");
    }

    function handleEventRegSuccess(data) {
        offLoading();
        document.getElementById('form_container').style.display = "none";
        document.getElementById('form_success').style.display = "block";
        document.getElementById('entry_code').innerHTML = data.entry_key;
    }

    function handleEventRegError(error) {
        offLoading();
        var elmt = document.getElementById('error_msg');
        if (error.status_code === 400) {
            elmt.innerHTML = "Please Enter Valid Details";
        } else if (error.status_code === 406) {
            elmt.innerHTML = "Sorry, Event Registrations Are Closed";
        } else if (error.status_code === 409) {
            elmt.innerHTML = "Email ID is Already Registered";
        } else {
            elmt.innerHTML = "Something Went Wrong";
        }
    }

    function setEventDetails(event_details) {
        document.getElementById('event_id').value = event_details.ref_id;
        document.getElementById('event_domain').innerHTML = event_details.domain;
        document.getElementById('event_title').innerHTML = event_details.title;
        document.getElementById('event_desc').innerHTML = event_details.description;
        // convert event_details.event_date_time ie 2023-09-30T11:36:28+05:30 to 6th Oct 2023, 2:30 PM
        var event_date_time = new Date(event_details.event_date_time);
        var event_date_time_str = event_date_time.getDate() + " " + event_date_time.toLocaleString('default', { month: 'short' }) + " " + event_date_time.getFullYear() + ", " + event_date_time.toLocaleString('default', { hour: 'numeric', minute: 'numeric', hour12: true });
        document.getElementById('event_datetime').innerHTML = event_date_time_str;
        document.getElementById('event_venue').innerHTML = event_details.venue;
        document.getElementById('event_reg_limit').innerHTML = event_details.reg_count_limit;
        document.getElementById('event_reg_count').innerHTML = event_details.reg_count;
        document.getElementById('event_poster').src = backend_url + event_details.event_poster;
        document.getElementById('event_details').innerHTML = event_details.details;
    }

    async function getActiveEvent() {
        try {
            const response = await fetch(backend_url + '/api/earliest_active_event');
            const data = await response.json();
            console.log(data);
            if (data.length < 1) {
                return null;
            } else {
                return data;
            }
        } catch (error) {
            handleNoEvent();
        }
    }

    async function setEvent() {
        setLoading("Getting Event Details");
        var event_id = new URLSearchParams(window.location.search).get('event');
        var event;
        if (event_id != null) {
            try {
                const response = await fetch(backend_url + '/api/event/' + event_id);
                const data = await response.json();

                if (data.length < 1) {
                    event = await getActiveEvent();
                } else {
                    event = data;
                }
                if (event != null) {
                    setEventDetails(event);
                } else {
                    handleNoEvent();
                }
            } catch (error) {
                handleNoEvent();
            }
        } else {
            event = await getActiveEvent();
            if (event != null) {
                setEventDetails(event);
            } else {
                handleNoEvent();
            }
        }
    }
    document.getElementById("nav-events").classList.add("active");

    window.onload = async () => { await setEvent(); offLoading(); };

    document.getElementById('event_reg_form').addEventListener('submit', function (e) {
        setLoading("Registering For Event");
        e.preventDefault();
        var url = backend_url + "/api/register_for_event";
        var data = new FormData(e.target);

        fetch(url, { method: 'POST', body: data })
            .then(response => response.ok ? response.json() : response.json().then(error => { throw error; }))
            .then(data => { console.log('Entry Key:', data.entry_key); handleEventRegSuccess(data); })
            .catch((error) => { console.error('Error:', error); console.error('data:', data); handleEventRegError(error); });
        offLoading();
    });

</script>
<!-- include footer -->
{% include footer.html %}