<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta content="title" property="og:title">
    <meta name="description" content="{{ page.description }}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <!-- canonical -->
    <link rel="canonical" href="https://techversemescoe.me{{ page.url }}">
    <!-- Opengraph meta tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://techversemescoe.me{{ page.url }}">
    <meta property="og:image" content="https://techversemescoe.me/img/og-image.jpeg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Techverse">
    <meta property="og:locale" content="en_IN">
    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@techversemescoe">
    <meta name="twitter:creator" content="@techversemescoe">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://techversemescoe.me/img/og-image.jpeg">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/brands.min.css" rel="stylesheet">
    <link href="/assets/css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/v5-font-face.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/main.js"></script>
</head>
<body>
    <!-- Template Javascript -->
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
        <span id="loding_status" class="">Loading</span>
    </div>
    <!-- Spinner End -->
    {{ content }}
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- adding schema.org using json ld -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Techverse",
            "url": "https://techversemescoe.me",
            "logo": "https://techversemescoe.me/img/logo.svg",
            "sameAs": [
                "https://www.instagram.com/techversemescoe/",
                "https://www.linkedin.com/company/techversemescoe",
                "https://twitter.com/techversemescoe",
                "https://www.youtube.com/channel/UC9Z3Z0RqX6ZG0Z8qfXZQ4jQ"
            ]
        }
    </script>
</body>
</html>